<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <mat-form-field hintLabel="Format xx@xx.xx" appearance="fill">
      <mat-label>Podaj adres e-mail</mat-label>
      <input matInput type="text" id="email" name="email"
             formControlName='email'
             placeholder="np. jan@kowalski.com"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field hintLabel="Minimum 2 znaki" appearance="fill">
      <mat-label>Podaj imię</mat-label>
      <input matInput type="text" id="imie" name="imie"
             formControlName='imie'
             placeholder="np. Jan"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field hintLabel="Minimum 2 znaki" appearance="fill">
      <mat-label>Podaj nazwisko</mat-label>
      <input matInput type="text" id="nazwisko" name="nazwisko"
             formControlName='nazwisko'
             placeholder="np. Kowalski"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field hintLabel="Obowiązkowe" appearance="fill">
      <mat-label>Podaj ulicę</mat-label>
      <input matInput type="text" id="ulica" name="ulica"
             formControlName='ulica'
             placeholder="np. Polna 1"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field hintLabel="Obowiązkowe" appearance="fill">
      <mat-label>Podaj miasto</mat-label>
      <input matInput type="text" id="miasto" name="miasto"
             formControlName='miasto'
             placeholder="np. Warszawa"/>
    </mat-form-field>
    <mat-form-field hintLabel="Format 00-000" appearance="fill">
      <mat-label>Podaj kod pocztowy</mat-label>
      <input matInput type="text" id="kod" name="kod"
             formControlName='kod'
             placeholder="np. 00-950"/>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit"
          [disabled]="!myForm.valid">Submit
  </button>
</form>
